<!doctype html>
<html lang="{{ site:short_locale }}">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="theme-color" content="00908F">
        {{ seo_pro:meta }}
        {{ vite src="resources/js/site.js|resources/css/site.css" }}
    </head>
    <body class="relative bg-white font-sans leading-normal text-grey-800" x-data="{ showMobileNav: false }">
        <div class="custom-shape-divider-bottom-1701324927">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M1200 120L0 16.48 0 0 1200 0 1200 120z" class="shape-fill"></path>
            </svg>
        </div>
        {{ partial:nav }}
        <div class="px-10">
            {{ template_content }}
        </div>
        {{ partial:footer }}
    </body>
</html>
