<div class="max-w-5xl mx-auto relative mt-16">
    {{ svg src="/assets/site/scratches" class="absolute text-gray-800 mt-8 top-0 left-0 w-20 hidden md:block" }}
    <article class="py-32 max-w-2xl mx-auto">
        <header class="content">
            <h1>{{ title }}</h1>
            {{ content }}
        </header>
        <div class="space-y-4">
            {{ taxonomy:topics sort="title" }}
                <div class="flex">
                    <h2 class="text-4xl font-bold hover:text-teal">
                        <a href="{{ url }}" class="flex items-center">
                            {{ svg :src="'/assets/site/topic-icons/{{svg_filename}}'" class="w-8 h-8 mr-4" }}
                            {{ title | title }}
                        </a>
                    </h2>
                </div>
            {{ /taxonomy:topics }}
        </div>
    </article>
</div>
