@import 'colors-sass/sass/colors.scss';
@import url('https://cdn.jsdelivr.net/npm/fullpage.js@3/dist/fullpage.min.css');
@import url('https://fonts.googleapis.com/css?family=Special+Elite');;

@font-face {
  font-family: 'Press Start 2P';
  src: url('~assets/fonts/PressStart2P-Regular.eot');
  src: url('~assets/fonts/PressStart2P-Regular.eot?#iefix') format('embedded-opentype'),
    url('~assets/fonts/PressStart2P-Regular.woff2') format('woff2'),
    url('~assets/fonts/PressStart2P-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

$--spacer: 8px;
